:root {
    --base-color: #874e37;
    --nav-color: linear-gradient(to bottom, #3E3232, #2e2222);
    --text-opposite-color: #FFFFFF;
    --text-color: #ffffff;
    --background-gradient: linear-gradient(to bottom, var(--base-color), var(--nav-color));
    --base-light: #a06b56;
    --active: #6e6666;
}
.light-mode {
    --base-color: #f8e3db;
    --base-light: #fcf7ee;
    --text-opposite-color: #000000;
    --nav-color: linear-gradient(to bottom, #fcab48, #da9c51);
    --text-color: #000000;
    --background-gradient: linear-gradient(to bottom, var(--base-color), var(--nav-color));
    --active: #d28d39;
}


@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* LOG IN PAGE*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body.loginbg {
        font-family: Arial, sans-serif;
        background: linear-gradient(rgba(255, 220, 166, 0.75), rgba(255, 220, 166, 0.75)), url('image/natmuseum.webp') no-repeat center/cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .login-container {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-weight: bold;
        padding: 40px;
        box-shadow: 0 10px 250px rgb(255, 228, 25);
        min-width: 450px;
        width: 40vw;
        height: 100vh;
        float: left;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }

    .login-box {
        width: 100%;
        max-width: 360px;
        max-height: 100vh;
        color: white;
        text-align: center;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    #formTitle, .title {
        font-size: 18px;
        margin-bottom: 15px;
        color: #fff;
        font-weight: bold;
        font-family: 'LibreBaskerville', serif;
        user-select: none;
    }

    .form-group {
        margin-bottom: 18px;
        text-align: left;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    .form-group input {
        width: 100%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid transparent;
        color: white;
        font-size: 14px;
        transition: all 0.3s ease;
    }
    
    .form-group select {
        width: 100%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid transparent;
        color: white;
        font-size: 14px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    
    .form-group select option {
        background: #2e2222;
        color: white;
    }

    .form-group input::placeholder {
        color: #999;
    }

/* LOG IN PAGE ICONS */

    .logo {
        max-width: 180px;
        height: auto;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        max-width: 50px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* LOG IN BUTTONS */
    .btn-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        filter: invert(0.7) sepia(1.2) saturate(3) hue-rotate(-10deg) brightness(1.15);
        position: relative;
    }

    .btn-type {
        width: 100%;
        padding: 10px;
        margin: 30px 0 10px;
        background: transparent;
        color: #ffffff;
        border: 2px solid white;
        font-size: 14px;
        font-weight: bold;
        font-family: 'LibreBaskerville', serif;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        user-select: none;
    }

    .btn-type:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    .login-form .btn-login {
        padding: 12px;
    }

    .btn-back {
        position: relative;
        left: -150px;
        background: none;
        border: none;
        color: #ffd966;
        font-size: 16px;
        cursor: pointer;
        padding: 0;
        transition: color 0.3s ease;
    }

    .btn-back:hover {
        color: #e39d32;
    }

    .paint-icon {
        width: 27.588px;
        height: 27.588px;
    }

    .link-text {
        margin-top: 15px;
        font-size: 13px;
    }

    .link-text a {
        color: #ffd966;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .link-text a:hover {
        color: #e39d32;
    }

/* --------- HOME PAGE -----------*/ 

    /* navigation bar */
    
    .navbar {
        background: var(--nav-color);
        height: 50px;
        width: 100%;
        padding: 10px;
        display: flex;
    }    
    .navlink {
        font-size: 15px;
        padding: 5px;
        text-decoration: none;
        color: var(--text-opposite-color);
        margin-left: 5px;
        user-select: none;
    }
    .navlink.active{
        background-color: var(--active);
    }
    .icon-navbar {
        max-width: 40px;
        height: auto;
    }
    .title-navbar {
        color: var(--text-opposite-color);
        font-size: 24px;
        font-weight: bold;
        font-family: 'LibreBaskerville', serif;
        left: 0;
        margin: 0 auto;
        user-select: none;
    }
    #darkToggle {
        padding-left: 20px;
    }

    /* body section */

    body {
        overflow: hidden;
    }
    .homeindex {
        height: calc(100vh - 50px);
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .featured-section {
        color: var(--text-color);
        width: 100%;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color:  var(--base-color);
    }
    .featured-artworks {
        height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .iron-frame {
    padding: 12px;
    background:
        linear-gradient(
        135deg,
        #f0f0f0 0%,
        #cfcfcf 20%,
        #9e9e9e 50%,
        #d9d9d9 80%,
        #f5f5f5 100%
        );
    box-shadow:
        inset 0 2px 4px rgba(255,255,255,0.7),
        inset 0 -2px 4px rgba(0,0,0,0.3),
        0 6px 15px rgba(0,0,0,0.35);
    }
    .gold-frame {
    padding: 12px;
    background:
        linear-gradient(
        135deg,
        #f1e2a0 0%,
        #e2c66d 25%,
        #c9a84f 50%,
        #b8963c 65%,
        #d6bf6a 85%,
        #f1e2a0 100%
        );
    box-shadow:
        inset 0 2px 4px rgba(255,255,255,0.7),
        inset 0 -2px 4px rgba(0,0,0,0.3),
        0 6px 15px rgba(0,0,0,0.35);
    }
    .bronze-frame {
    padding: 12px;
    background:
        linear-gradient(
        135deg,
        #f2c9a0 0%,
        #cd8e52 20%,
        #a97142 45%,
        #7a4a2b 65%,
        #b97a45 85%,
        #f2c9a0 100%
        );
    box-shadow:
        inset 0 2px 4px rgba(255,255,255,0.7),
        inset 0 -2px 4px rgba(0,0,0,0.3),
        0 6px 15px rgba(0,0,0,0.35);
    }
    .art-featured {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 5vw;
    }
    .artwork {
        background: #EDE1E1;
        height: 300px;
        width: 300px;
        object-fit: cover;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0.35);
        display: block;

    }
    .home-section {
        text-align: center;
        width: 100%;
        height: 30vh;
        position: relative;
        overflow: hidden;
    }
    #home-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .hallway-section {
        padding-top: 100px;
        width: 100%;
        color: var(--text-color);
        height: max-content;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        background:
        linear-gradient(
            to bottom,
            var(--base-color) 0%,
            rgba(200, 170, 170, 0) 100%
        ), url('image/hallway.webp') no-repeat center/cover; 
    }
    .entrance {
        text-decoration: none;
        margin: 50px;
        height: 400px;
        width: 250px;
        transition: all 0.3s ease;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.35);
    }
    #e1 {
        background: url('image/entrance1.webp');
        background-size: auto 100%;
        background-position: center;
    
    }
    #e2 {
        background: url('image/entrance2.webp');
        background-size: auto 100%;
        background-position: center;
    }
    #e3 {
        background: url('image/entrance3.webp');
        background-size: auto 100%;
        background-position: center;
    }
    .entrance:hover {
        transform: translateY(-20px);
    }
    .entrance p {
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        margin-top: 65%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.55);
    }
    .entrance img {
        height: 25px;
        filter: invert(0.7) sepia(1.2) saturate(3) hue-rotate(-10deg) brightness(1.15);
    }

    #aboutus-image {
        width: 400px;
        border-radius: 10px;
    }
    .aboutsection {
        width: 100%;
        padding: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .aboutsection p {
        max-width: 600px;
        min-width: 400px;
    }
    .aboutsection div{
        padding-left: 30px;
    }
    #aboutus {
        width: 100%;
        display: block;
        background-color: var(--base-color);
        color: var(--text-color);
    }
    #aboutus h1 {
        font-size: 40px;
        margin-top:10px;
    }
    #aboutus p {
        font-size: 25px;
        margin-top:10px;
    }
    .missionvision {
        width: 100%;
        height: max-content;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .missionvision div{
        text-align: center;
        width: 400px;
        height: 600px;
        margin: 5vw;
        padding: 30px;
        background-color: var(--base-light);
        border-radius: 20px;
        box-shadow: 0 0 10px#000000;
    }
